
*{
	box-sizing: border-box;
}



h1{
	font-family: 'Cabin Sketch', cursive;
	text-align: center;
	font-size: 50px;
}

.styled-select{
	background-color: yellow;
	height: 50px;
	width: 150px;
	font-weight: bold;
	font-size: 100%;
	border-radius: 5px;
	border: 2px solid red;
}

button{
	background-color: yellow;
	height: 50px;
	width: 175px;
	font-weight: bold;
	font-size: 100%;
	border-radius: 5px;
	border: 2px solid red;
}

.wrapper{
	
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	
	
}

.cell{
	float: left;

	border: 1px solid black;
	
}

#buttons{
	margin-left: 375px;
	margin-bottom: 20px;
}